.buttn3{
    color: black;
    background-color: rgba(255, 166, 0, 0.596);
}
.form{
    display:flex;
    gap:50px
}

#form1{
    border:2px solid;
    padding:15px
}

#form2{
    border:2px ;border-style:double;
    padding:15px
}